/* ResultTableWithTabs.css */

.upper-button {
  padding: 0;
}

.sheet-tabs-container {
  display: flex;
  gap: 5px;
  margin: 0;
}

.result-table-container {
  flex: 1;
  height: 100%;
  overflow: auto;
}
