/* ResultTableWithTabs.css */

.upper-button {
  padding: 10px 0;
}

.sheet-tabs-container {
  display: flex;
  gap: 5px;
  margin: 0;
  padding: 0 10px;
  margin-bottom: 10px;
  justify-content: center;
}
